/**
 * Syntax highlighting styles
 */
.highlighter-rouge {
  background-color: $dark;
  color: $cyan;
  border-radius: 4px;
  box-shadow: 2px 2px $grey-dark;
}

div.highlight {
  margin: $spacing-unit;
}

// pre.highlight {
//   margin: $spacing-unit;
// }

.highlight {
  background-color: $dark;
  color: $cyan;
  font-family: $family-code;
  border-radius: 4px;
  position: relative;

  .p {
    color: $magenta;
  } // period

  .c {
    color: $purple-light;
  } // Comment

  .err {
    color: $red;
    background-color: $grey-dark;
  } // Error

  .k {
    color: $purple;
  } // Keyword

  .kn {
    color: $purple;
  } // Keyword

  .o {
    color: $purple;
  } // Operator

  .cm {
    color: $purple-light;
  } // Comment.Multiline

  .cp {
    color: $purple;
  } // Comment.Preproc

  .c1 {
    color: $purple-light;
  } // Comment.Single

  .cs {
    color: $purple-light;
  } // Comment.Special

  .gd {
    color: $white;
    background-color: $black;
  } // Generic.Deleted

  .gd .x {
    color: $white;
    background-color: $red;
  } // Generic.Deleted.Specific

  .ge {
    font-style: oblique;
  } // Generic.Emph

  .gr {
    color: $red;
  } // Generic.Error

  .gh {
    color: $purple-light;
  } // Generic.Heading

  .gi {
    color: $white;
    background-color: $grey-dark;
  } // Generic.Inserted

  .gi .x {
    color: $green;
    background-color: $grey-dark;
  } // Generic.Inserted.Specific

  .go {
    color: #888;
  } // Generic.Output

  .gp {
    color: #555;
  } // Generic.Prompt

  .gs {
    font-weight: bold;
  } // Generic.Strong
  .gu {
    color: #aaa;
  } // Generic.Subheading
  .gt {
    color: $red;
  } // Generic.Traceback
  .kc {
    color: $purple;
  } // Keyword.Constant
  .kd {
    color: $purple;
  } // Keyword.Declaration
  .kp {
    color: $purple;
  } // Keyword.Pseudo
  .kr {
    color: $purple;
  } // Keyword.Reserved
  .kt {
    color: $purple;
  } // Keyword.Type
  .m {
    color: $turquoise;
  } // Literal.Number
  .s {
    color: $turquoise;
  } // Literal.String
  .n {
    color: $white;
  }
  .na {
    color: $cyan;
  } // Name.Attribute
  .nb {
    color: $purple;
  } // Name.Builtin
  .nc {
    color: $magenta;
    font-style: oblique;
  } // Name.Class
  .no {
    color: $cyan;
  } // Name.Constant

  .ni {
    color: $purple;
  } // Name.Entity

  .ne {
    color: $magenta;
  } // Name.Exception
  .nf {
    color: $cyan;
  } // Name.Function
  .nn {
    color: $magenta;
  } // Name.Namespace
  .nt {
    color: $magenta;
  } // Name.Tag
  .nv {
    color: $magenta;
  } // Name.Variable
  .ow {
    font-weight: bold;
  } // Operator.Word
  .w {
    color: $black;
  } // Text.Whitespace
  .mf {
    color: $cyan;
  } // Literal.Number.Float
  .mh {
    color: $cyan;
  } // Literal.Number.Hex
  .mi {
    color: $cyan;
  } // Literal.Number.Integer
  .mo {
    color: $cyan;
  } // Literal.Number.Oct
  .sb {
    color: $turquoise;
  } // Literal.String.Backtick
  .sc {
    color: $turquoise;
  } // Literal.String.Char
  .sd {
    color: $turquoise;
  } // Literal.String.Doc
  .s2 {
    color: $turquoise;
  } // Literal.String.Double
  .se {
    color: #ff584f;
  } // Literal.String.Escape
  .sh {
    color: $turquoise;
  } // Literal.String.Heredoc
  .si {
    color: $magenta;
  } // Literal.String.Interpol
  .sx {
    color: $orange;
  } // Literal.String.Other
  .sr {
    color: $magenta;
  } // Literal.String.Regex
  .s1 {
    color: $turquoise;
  } // Literal.String.Single
  .ss {
    color: $turquoise;
  } // Literal.String.Symbol
  .bp {
    color: $purple;
  } // Name.Builtin.Pseudo
  .vc {
    color: $cyan;
  } // Name.Variable.Class
  .vg {
    color: $cyan;
  } // Name.Variable.Global
  .vi {
    color: $cyan;
  } // Name.Variable.Instance
  .il {
    color: $turquoise;
  } // Literal.Number.Integer.Long
}
