@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/mononoki.min.css");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// Set your brand colors
$white-ter: #ffffff;
$white: #eaeaea;
$black: #24222f;
$cyan: #26d2f6;
$turquoise: #35dd9d;
$blue: #009eff;
$yellow: #fff629;
$red: #ff1372;
$green: #89ec4b;
$grey-darker: #2d2b3a;
$grey-dark: #444154;
$orange: #ff584f;
$purple: #bf75ff;
$purple-light: #8e87c1;
$magenta: #fb49c6;

// Set Site ColorScheme
$dark: $black;
$body-background-color: $grey-darker;
$footer-background-color: $dark;
$background: $dark;
$text: $white;
$title-color: $white-ter;
$link: $cyan;
$link-hover: $turquoise;
$text-strong: $white-ter;

// box-config
$box-background-color: $background;
$box-color: $white;
$box-shadow: 1px 1px 10px $purple;

// button config
$button-color: $cyan;
$button-background-color: $grey-darker;
$button-border-color: $cyan;

//menu config
$menu-item-color: $link;
$menu-item-hover-color: $link-hover;
$menu-item-hover-background-color: $grey-darker;
$menu-item-active-color: $red;
$menu-item-active-background-color: $grey-dark;
$menu-label-color: $purple-light;

// navbar colors
$navbar-background-color: $background;
$navbar-item-color: $turquoise;
$navbar-item-hover-color: $cyan;
$navbar-item-hover-background-color: $grey-darker;
$navbar-divider-background-color: $red;
$navbar-item-active-color: $blue;
$navbar-item-active-background-color: $grey-dark;

// card config
$card-color: $white;
$card-background-color: $dark;
$card-shadow: $box-shadow;

// Update Bulma's global variables
$family-monospace: "mononoki", monospace;
$family-sans-serif: "Nunito Sans", sans-serif;

// Update some of Bulma's component variables

@import "./bulma/bulma.sass";

$spacing-unit: 10px;

@import "./highlights.scss";

.background-random {
  background-image: url("https://source.unsplash.com/random/1920x1080");
}

body {
  font-size: $size-medium;
}

.bd-copy {
  position: absolute;
  right: 1px;
  top: 10px;
  opacity: 30%;
}

.bd-copy:hover {
  opacity: 100%;
}

.cover-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}