---
layout: default
---
<section class="hero is-medium has-text-centered
{% unless page.image-url %}
    is-primary
{% endunless%}
" 
style="
    {% if page.image-url %}
    background-image:url('{{ page.image-url }}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    {% endif %}">
    <div class="hero-body">
        <h1 class="title has-text-white">
            {{ page.name }}
        </h1>
        <p class="subtitle">
            {{ page.position }}
        </p>
    </div>
</section>
<section class="section content">
    <div class="container">
        {{ page.content }}
    </div>
</section>