---
layout: default
---
<section {% unless page.image-url %} class="hero is-medium has-text-centered is-primary" {% else%}
    class="hero is-medium has-text-centered cover-image" style="background-image:url('{{ page.image-url }}');" {%
    endunless%}>

    <section class="hero-body">
        <h1 class="title">
            {{ page.title }}
        </h1>
        <p class="subtitle">
            {{page.subtitle}}
        </p>
    </section>
</section>
<section class="section">
    <div class="container">
        {{ content }}
    </div>
</section>